* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background: url(img/background.jpg) center/cover no-repeat scroll;
   border: 3px solid black;
}

.header {
margin: 20px;
text-align: center;
color: rgb(121, 121, 121);
}

.header__img {
   margin: 20px;
   border: 2px solid black;
   height: 200px;
   border-radius: 40%;
}

.about {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 30px
}
.about__img {
   width: 300px;
   height: 300px;
   background: url(img/avatar.jpg) center/cover no-repeat;
   border-radius: 50%;
}

.about__text {
   background-color: rgba(128, 128, 128, 0.736);
   color: white;
   padding: 20px;
   text-align: left;
   width: 400px;
}

.line {
   color: white;
   background-color: white;
   height: 8px;
   border: none;
   width: 800px;
   margin-top: 40px;
}

.event__title {
   color: white;
   background-color: rgba(128, 128, 128, 0.736);
   width: 800px;
   text-align: center;
   margin: 0 auto;
}

.event__img-wed-1 {
   background: url(img/04_wedding.jpg) center/cover no-repeat;
   height: 350px;
   width: 250px;
}

.event__img-wed-2 {
   background: url(img/05_wedding.jpg) center/cover no-repeat;
   height: 350px;
   width: 250px;
}

.event__img-wed-3 {
   background: url(img/06_wedding.jpg) center/cover no-repeat;
   height: 350px;
   width: 250px;
}

.event__img-wed {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 25px
}

.event_img_birthday-1 {
   background: url(img/07_hb.jpg) center/cover no-repeat;
   height: 350px;
   width: 250px;
}

.event_img_birthday-2 {
   background: url(img/09hb.jpg) center/cover no-repeat;
   height: 350px;
   width: 250px;
}

.event_img_birthday-3 {
   background: url(img/08_hb.jpg) center/cover no-repeat;
   height: 350px;
   width: 250px;
}

.event_img_birthday {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 25px
}

.form__title-1 {
   background-color: rgba(128, 128, 128, 0.736);
   color: white;
   padding: 20px;
   text-align: center;
   width: 800px;
   margin: 0 auto;
}

.form__block {
   color: white;
   background-color: rgba(89, 89, 85, 0.434);
   text-align: center;
   width: 800px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 25px
}

.form__block_button {
   width: 90px;
   height: 50px;
   border-radius: 20px;
}

.form__block_button:hover {
   background: #786b59; /* Цвет фона под ссылкой */ 
   color: #ffe; /* Цвет ссылки */ 
}

.form__block_img {
   background: url(img/forma.jpg) center/cover no-repeat;
   height: 350px;
   width: 300px;
}